<!DOCTYPE html>
<html lang="ko"/>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스코어</title>
</head>
<body>

<div>
    <label for="chang_sports"></label>
    <select name="chang_sports" id="chang_sports" onchange="chang_sports()">
        <option  th:value="a">운동선택</option>
        <option  th:value="Tennis">테니스</option>
        <option  th:value="Table_Tennis">탁구</option>
        <option  th:value="Swimming">수영</option>
        <option  th:value="Golf">골프</option>
        <option  th:value="Badminton">배드민턴</option>
        <option  th:value="Foot_volleyball">족구</option>
        <option  th:value="Soccer">축구</option>
        <option  th:value="Health">개인기록(헬스)</option>
        <option  th:value="Crossfit">크로스핏</option>
    </select>


</div>

<div>
    <a th:href="@{/}">메인페이지</a>
</div>

<!-- 참고 자료 나중에 데이터 insert 후 표출 방법-->
<!--   <table>
        <tr>
            <th>#</th>
            <th>이름</th>
            <th>참가 인원</th>
            <th>시작</th>
            <th>종료</th>
            <th>index 내용</th>
        </tr>
        <tr th:each="event , index: ${events}">
            <td th:text="${index.index}">#</td>
            <td th:text="${event.name}">이벤트 이름</td>
            <td th:text="${event.limitOfEnrollment}">100</td>
            <td th:text="${event.startDateTime}">2019년 1월 10일 오전 10시</td>
            <td th:text="${event.endDateTime}">2019년 1월 10일 오전 12시</td>
            <td th:text="${index}">index</td>
        </tr>
    </table>-->



<div>
    <table>
        <thead>
            <tr>
                <th>날짜</th>
                <th>시간</th>
                <th>장소</th>
                <th>게임종류</th>
                <th>날씨</th>
                <th>상대방</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tr>
            <td>
                2023.02.06
            </td>
            <td>
                16:50
            </td>
            <td>
                전천후 테니스장
            </td>
            <td>
                복식 /단식
            </td>
            <td>
                맑음
            </td>
            <td>
                사람이름
            </td>
        </tr>
        </tbody>
    </table>

</div>


<!--테니스-->
<div>
    <form th:action="@{/score/write/Table_Tennis}" th:object="${scoreDTO}" method="post">
    <table style="display: inline-block">
        <thead>
        <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>장소</th>
            <th>게임종류</th>
            <th>날씨</th>
            <th>상대방</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        <tr>
            <td>
                <!--자바스크립트로 현재 날짜 정해서 넣기-->
                <input type="date"  th:field="*{date}">
            </td>
            <td>
                <input type="time" th:field="*{time}">
            </td>
            <td>

                <input type="text" th:field="*{location}">
            </td>
            <td>
                <input type="text" th:field="*{type}">
            </td>
            <td>

                <input type="text" th:field="*{weather}">
            </td>
            <td>

                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <input type="text" th:field="*{name}">
            </td>
        </tr>


        </tbody>

    </table>
        <button type="submit" style="vertical-align: middle; margin-bottom: 20px;" >등록</button>
    </form>

</div>


<!--
        &lt;!&ndash;골프&ndash;&gt;
        <div>
            <form th:action="@{/score/write/golf}" th:object="${scoreDTO}" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>시간</th>
                        <th>장소</th>
                        <th>게임종류</th>
                        <th>날씨</th>
                        <th>상대방</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr>
                        <td>
                            &lt;!&ndash;자바스크립트로 현재 날짜 정해서 넣기&ndash;&gt;
                            <input type="date"  th:field="*{date}">
                        </td>
                        <td>
                            <input type="time" th:field="*{time}">
                        </td>
                        <td>
                            <input type="text" th:field="*{location}">
                        </td>
                        <td>
                            <input type="text" th:field="*{type}">
                        </td>
                        <td>

                            <input type="text" th:field="*{weather}">
                        </td>
                        <td>

                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <input type="text" th:field="*{name}">

                        </td>
                    </tr>


                    </tbody>

                </table>
                <button type="submit">등록</button>
            </form>

        </div>
        &lt;!&ndash;배드민턴&ndash;&gt;



        <div>

            <form th:action="@{/score/write/Badminton}" th:object="${scoreDTO}" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>시간</th>
                        <th>장소</th>
                        <th>게임종류</th>
                        <th>날씨</th>
                        <th>상대방</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr>
                        <td>

                            &lt;!&ndash;자바스크립트로 현재 날짜 정해서 넣기&ndash;&gt;
                            <input type="date"  th:field="*{date}">
                        </td>
                        <td>
                            <input type="time" th:field="*{time}">
                        </td>
                        <td>
                            <input type="text" th:field="*{location}">
                        </td>
                        <td>
                            <input type="text" th:field="*{type}">
                        </td>
                        <td>
                            <input type="text" th:field="*{weather}">
                        </td>
                        <td>

                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <input type="text" th:field="*{name}">

                        </td>
                    </tr>


                    </tbody>

                </table>
                <button type="submit">등록</button>
            </form>
        </div>
        &lt;!&ndash;족구&ndash;&gt;

        <div>

            <form th:action="@{/score/write/foot_volleyball}" th:object="${scoreDTO}" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>시간</th>
                        <th>장소</th>
                        <th>게임종류</th>
                        <th>날씨</th>
                        <th>상대방</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr>
                        <td>

                            &lt;!&ndash;자바스크립트로 현재 날짜 정해서 넣기&ndash;&gt;
                            <input type="date"  th:field="*{date}">
                        </td>
                        <td>
                            <input type="time" th:field="*{time}">
                        </td>
                        <td>
                            <input type="text" th:field="*{location}">
                        </td>
                        <td>
                            <input type="text" th:field="*{type}">
                        </td>
                        <td>
                            <input type="text" th:field="*{weather}">
                        </td>
                        <td>

                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <input type="text" th:field="*{name}">

                        </td>
                    </tr>


                    </tbody>

                </table>
                <button type="submit">등록</button>
            </form>

        </div>
        &lt;!&ndash;축구&ndash;&gt;
        <div>

            <form th:action="@{/score/write/football}" th:object="${scoreDTO}" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>시간</th>
                        <th>장소</th>
                        <th>게임종류</th>
                        <th>날씨</th>
                        <th>상대방</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr>
                        <td>

                            &lt;!&ndash;자바스크립트로 현재 날짜 정해서 넣기&ndash;&gt;
                            <input type="date"  th:field="*{date}">
                        </td>
                        <td>

                            <input type="time" th:field="*{time}">
                        </td>
                        <td>
                            <input type="text" th:field="*{location}">
                        </td>
                        <td>
                            <input type="text" th:field="*{type}">
                        </td>
                        <td>

                            <input type="text" th:field="*{weather}">
                        </td>
                        <td>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <input type="text" th:field="*{name}">
                        </td>
                    </tr>


                    </tbody>

                </table>
                <button type="submit">등록</button>
            </form>


        </div>
        &lt;!&ndash;헬스&ndash;&gt;
        <div>
            <form th:action="@{/score/write/health}" th:object="${scoreDTO}" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>시간</th>
                        <th>장소</th>
                        <th>게임종류</th>
                        <th>날씨</th>
                        <th>상대방</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr>
                        <td>

                            &lt;!&ndash;자바스크립트로 현재 날짜 정해서 넣기&ndash;&gt;
                            <input type="date"  th:field="*{date}">
                        </td>
                        <td>
                            <input type="time" th:field="*{time}">
                        </td>
                        <td>
                            <input type="text" th:field="*{location}">
                        </td>
                        <td>
                            <input type="text" th:field="*{type}">
                        </td>
                        <td>

                            <input type="text" th:field="*{weather}">
                        </td>
                        <td>

                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <input type="text" th:field="*{name}">

                        </td>
                    </tr>


                    </tbody>

                </table>
                <button type="submit">등록</button>
            </form>


        </div>

        &lt;!&ndash;크로스핏&ndash;&gt;
        <div>
            <form th:action="@{/score/write/crossfit}" th:object="${scoreDTO}" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>날짜</th>
                        <th>시간</th>
                        <th>장소</th>
                        <th>게임종류</th>
                        <th>날씨</th>
                        <th>상대방</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tr>
                        <td>

                            &lt;!&ndash;자바스크립트로 현재 날짜 정해서 넣기&ndash;&gt;
                            <input type="date"  th:field="*{date}">
                        </td>
                        <td>
                            <input type="time" th:field="*{time}">
                        </td>
                        <td>

                            <input type="text" th:field="*{location}">
                        </td>
                        <td>

                            <input type="text" th:field="*{type}">
                        </td>
                        <td>

                            <input type="text" th:field="*{weather}">
                        </td>
                        <td>

                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <input type="text" th:field="*{name}">

                    </tr>
                    </tbody>

                </table>
                <button type="submit">등록</button>
            </form>

        </div>-->


</body>
</html>