

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--
    <link th:href="@{/css/mainCSS.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/mainJS.js}"></script>-->
</head>
<body>
테스트중!!


<table>

    <thead>

            <tr th:each="item:${boardList}" >
                <td th:text="${item.TITLE}" class="test"></td>
                <td th:text="${item.NAME}"></td>
                <td th:text="${item.IDX}"></td>
                <td th:text="${item.PASS}"></td>
            </tr>
    </thead>
</table>
</body>
</html>