<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>오형일홈페이지</title>

    <link th:href="@{/css/mainCSS.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/mainJS.js}"></script>
</head>

<body>

<!--메인 페이지 전체 div-->
<div class="main_Container">
   <!--화면구조 메인페이지 1-5번 묶는 div-->
    <div class="main_headContainer" >
        <!--1-->
        <div class="hct_1"><a th:href="@{/login}">로그인</a></div>
        <!--1끝-->
        <!--2-->
        <div class="hct_2">
            <label for="change_language"></label><select name="chang_language" id="change_language" onchange="change_language()">


                <option th:value='a'>언어변환</option>
                <option  th:value='ko'>한국어</option>
                <option  th:value='en'>영어</option>
                <option th:value='etc'>기타</option>
            </select>

        </div>


        <!--2 끝-->
        <!--2-3 빈공간-->
        <div class="hct_blank"></div>
        <!--2-3 빈공간끝-->
        <!--3-->
        <div class="hct_3">
            <!--스코어관리 시작-->
            <div class="menu_1"><a th:href="@{/score}">스코어관리</a></div>
            <!--스코어관리 끝 -->
            <!--일정관리 시작-->
            <div class="menu_2"><a th:href="@{/calendal}">일정관리</a></div>
            <!--일정관리 끝-->
            <!--맛집리스트 시작-->
            <div class="menu_3"><a th:href="@{/map}">맛집리스트</a></div>
            <!--맛집리스트 끝-->
            <!--가계부 시작-->
            <div class="menu_4">가계부</div>
            <!--가계부 끝-->
            <!--게시판 시작-->
            <div class="menu_5"><a th:href="@{/board}">게시판</a></div>
            <!--게시판 끝-->
            <!--채팅 시작-->
            <div class="menu_6"><a th:href="@{/chat}">채팅</a></div>
            <!--채팅 끝-->
        </div>
        <!--3끝-->
        <!--3-4 빈공간-->
        <div class="hct_blank"></div>
        <!--3-4 빈공간-끝-->
        <!--4-->
        <div class="hct_4">검색</div>
        <!--4끝-->
        <!--5-->
        <div class="hct_5">전체표시 이모티콘</div>
        <!--5끝-->
    </div>
    <!--화면구조 메인페이지 1-5번 묶는 div 끝-->
    <!--화면구조 메인페이지 6번 전체 div-->
    <div class="main_bodyContainer">

        메인사진!!

    </div>
    <!--화면구조 메인페이지 6번 전체 div 끝-->

    <!--화면 구조 없는 footer 부분 후에 내용 추가 -->
    <div class="main_footerContainer">
        푸터
    </div>
    <!--화면 구조 없는 footer 부분 후에 내용 추가 끝-->
</div>
<!--메인 페이지 전체 div 끝-->

</body>
</html>