<!DOCTYPE html>
<html lang="ko"/>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>>회원 가입</title>
</head>
<body>

  <h1>회원가입</h1>
  <form role="form" th:action="@{/signup_action}"  method="post">


      <label th:for="username">아이디</label>
      <input type="text" id="user_id" name="user_id" placeholder="아이디 입력해주세요">


      <label th:for="password">비밀번호</label>
      <input type="password" id="user_pw" name="user_pw"  placeholder="비밀번호">

      <label th:for="password">비밀번호확인</label>
      <input type="password" id="user_pw_ck" name="user_pw_ck"  placeholder="비밀번호">


      <label th:for="email">이메일</label>
      <input type="email" id="email" name="email"   placeholder="이메일 입력해주세요">


    <button type="submit" >회원가입</button>
  </form>


</body>
</html>