<!DOCTYPE html>
<html lang="ko">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

<head>

  <title>맛집지도</title>
  <link th:href="@{/css/common.css}" rel="stylesheet" />
  <link th:href="@{/css/map.css}" rel="stylesheet" />

</head>

<body>
<nav>
  <div>
    <div>
      <h1><a th:href="@{/mpa}">맛집지도</a></h1>

      <div>
        <!-- 비회원 -->
        <div>
          <a th:href="@{/signin}">로그인</a>
        </div>


      </div>
    </div>
  </div>
</nav>

<main>
  <section>
    <div>
      <div>
        <h2>맛집지도 카테고리를 선택해보세요</h2>
        <div>
          <button  id="korea">한식</button >
          <button  id="china">중식</button>
          <button  id="japan">일식</button>
          <button  id="america">양식</button>
          <button  id="wheat">분식</button>
          <button  id="meat">구이</button>
          <button  id="sushi">회/초밥</button>
          <button  id="etc">기타</button>
        </div>
      </div>
    </div>
  </section>
  <!-- 카테고리 -->
  <div id="map" style="width: 1700px; height: 1000px;"></div>

  <!-- 카카오지도 -->
</main>

<script
        type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4de1b99d71324f8ad7221a3f1cc78797&libraries=services"
></script>

<script type="text/javascript" th:src="@{/js/map.js}"></script>
</body>
</html>



<!--
map 흐름도
맨처음 index.html 맛집지도클릭 -> map.html ( 컨트롤러 통해)
맨처음 화면 카테고리 선택 및 지도 표시

맨처음 지도 우리집 (두암그린파크)

카테고리 클릭시 전에 위도,경도 나오면서 지도 표시

지도 하나 표시/ 여러개 표시/ 클릭시 정보 표시 / 검색 기능 /  4개지 기능

맛집별로 별점 및 후기 남기는 페이지 작성(상세페이지)

-->